.App {

    border: 5px solid green;
    margin: 7px;
}

.header {
    display: flex;
    border: 3px solid red;
    margin: 7px;
    gap: 20px;
}

.body {

    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    margin: 7px;
    gap: 10px;
    

}

.success{
    background-color: rgb(121, 241, 141);
}

.error{
    background-color: rgb(245, 48, 48);

}